services:
  api:
    build: .
    container_name: node_api
    ports:
      - "3000:3000"
    depends_on:
      - mongo

  mongo:
    image: mongo:8.2
    container_name: mongo_local
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DB_NAME}
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: