services:
  api:
    build: .
    container_name: node_api
    ports:
      - "3000:3000"
    depends_on:
      - mongo
      - redis

  mongo:
    image: mongo:8.2
    container_name: mongo_local
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DB_NAME}
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:8.4.0-alpine
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    container_name: redis_local
    ports:
      - "6379:6379"
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}

volumes:
  mongo_data: